<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' =>  true %>
    <%= tag :meta, name: "stripe-key", content: Rails.application.secrets.publishable_key %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
<div class="hero-image" >
  <section class="hero">
       
<div class="hero-text">
  <%= link_to root_path do %>
  <h1 class="has-text-white">BookCheq</h1>
      <% end %>
      <h3> Buy a subscription to unlock all the features </h3>
      </div>
    </div>
    <div class="container">
      <div class="navbar-start is-dark">
       
        <div class="navbar-item">
         <% if user_signed_in? %>
             <%= link_to library_index_path, class: 'navbar-item button is-light' do %>
                My Library
             <% end %>
           </div>
         <% end %>
    <div class="navbar-end">
          <div class="navbar-item">
            <% if admin? %>
              <%= link_to 'New Book', new_book_path, class:'button is-dark' %>
            <% end %>
            <div class="field is-grouped">
            <% if user_signed_in? %>

    <div class="navbar-item button has-dropdown is-hoverable is-light">
              <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
              <div class="navbar-dropdown is-right">
                <%= link_to edit_user_registration_path, class:"navbar-item" do %>
                  <%= current_user.name %>Edit profile
                  <% if admin? %> &nbsp;
                  <span class="tag is-warning">ADMIN</span> <% end %>
                <% end %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
              </div>
            </div>
          <% else %>
          <div class="navbar-item">
            <%= link_to 'Pricing', pricing_index_path, class: 'navbar-item button is-light' %>
          </div>
          <div class="navbar-item">
            <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-light" %>
          </div>
          <p class="navbar-item">
            <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-light"%>
          </p>

          
          <% end %>
          </div>
        </div>
      </div>
    </div>



     </div>
      <%= yield %>
    </div>
    <div class="footer">
  <p>Anna Młodzik 2018</p>
</div>
  </body>


</html>
